<div class="container">
  <div class="p-2 m-5">
    <h2 class="card"><%= @question %></h2>
    <h2 class="card"><%= @answer %></h2>
    <p class="card"><%= link_to "Ask a new question", question_path %></p>
  </div>
</div>
